/*************************/
/**********media*********/
/*************************/

@media screen and (max-width: 1200px) {
	.features h3 {
		font-size: 15px;
	}
	footer ul li {
	margin-right: 5px;
	font-size: 14px;
	line-height: 14px;
	padding: 0;
	}
	.grad, .ip_2 {
	margin-bottom: 30px;
	}
	.miniart .new_sale {
	right: 15px;
}

}


@media screen and (max-width: 1030px) {

header ul li {
	display: block;
	color: #fff;
	padding-left: 0px;
	text-decoration: none;
	text-align: center;
	float: none;
}
header ul li:last-child a{
	margin-right: 0px;
}
.navbar-right {
	float: none;
}
.navbar-nav > li {
	margin-left: 5px;
}

.dublin {
	text-align: center;
}
.dublin h5 {
	text-align: center;
}
.dublin-3 img {
    position: absolute;
    left: 255px;
    top: 290px;
}
.grad, .ip_2 {
	margin-bottom: 30px;
}
.miniart .new_sale {
	right: 15px;
}

}



@media screen and (max-width: 768px) {
	header ul {
		float: none;
	}

	.slick-slide .dublin-3 img {
    display: none !important;
}
.dublin img {
	display: none !important;
}
.dublin p {
	margin: 0 auto;
	margin-top: 50px;
}
.dublin-2 {
	margin-top: 70px;
}
.miniart  {
	margin-top: 50px;
}
.grad, .ip_2 {
	margin-bottom: 30px;
}
.miniart .new_sale {
	right: 15px;
}
.sliders .col-md-12 {
	padding-left: 100px;
	padding-right: 100px;
}
.read_more h3 {
	margin-bottom: 30px;
}
.btnss {
	text-align: center;
} 
footer {
	text-align: center;
}
footer .form-inline .form-control {
	margin: 0 auto;
}
footer .contact-form .butt {
	text-align: center;
	margin-bottom: 50px;
}
}








